/.vscode
/node_modules
/public/hot
/public/build
/public/storage
/storage
/vendor
/resources/google
.env
.env.backup
.env.dusk.local
.phpunit.result.cache
.editorconfig
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
