// Sidebar select fix
.skin-blue .sidebar-form select {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-blue .sidebar-form select:focus {
  background-color: #fff;
  color: #666;
}

td.dt-nowrap {
    white-space: nowrap;
}

.hidden {
    display: none;
}

.notbold{
    font-weight: normal;
}

#transaction_item_prototype {
    display: none;
}

.text-italic {
    font-style: italic;
}

.cell-no-break {
    white-space: nowrap;
}

.reconcile {
    cursor: pointer;
}

.d-inline-block {
    display: inline-block;
}
