name: Build and Push Docker images for new version

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      ref_name:
        description: 'Reference name to simulate github.ref_name'
        required: true
        default: 'test'
      platforms:
        description: 'Platforms to build (comma-separated)'
        required: false
        default: 'linux/amd64'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Set version from workflow_dispatch
        if: github.event_name == 'workflow_dispatch'
        run: echo "DOCKER_VERSION_TAG=${{ github.event.inputs.ref_name }}" >> $GITHUB_ENV

      - name: Set version from release tag
        if: github.event_name == 'release'
        run: echo "DOCKER_VERSION_TAG=${{ github.event.release.tag_name }}" >> $GITHUB_ENV

      - name: Set platforms
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            echo "BUILD_PLATFORMS=${{ github.event.inputs.platforms }}" >> $GITHUB_ENV
          else
            echo "BUILD_PLATFORMS=linux/amd64,linux/arm64" >> $GITHUB_ENV
          fi

      - name: Print github.ref_name
        run: |
          echo "github.event_name is ${{ github.event_name }}"
          echo "github.ref_name is ${{ env.DOCKER_VERSION_TAG }}"
          echo "platforms is ${{ env.BUILD_PLATFORMS }}"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Configure Docker cache
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: buildx-${{ github.ref_name }}-${{ github.sha }}
          restore-keys: |
            buildx-${{ github.ref_name }}-

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/Dockerfile
          platforms: ${{ env.BUILD_PLATFORMS }}
          push: true
          tags: |
            kantorge/yaffa:${{ env.DOCKER_VERSION_TAG }}
            ${{ env.DOCKER_VERSION_TAG != 'test' && 'kantorge/yaffa:latest' || '' }}
          build-args: |
            BRANCH=main
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new

      - name: Move cache to current path
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
